@using CoinpayNFT.Models
@model List<Nft>

<div class="user-store-area">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-push-2">
            <h1 class="text-center">Review NFT</h1>
            <h1 class="text-center" id="demo"></h1>
            <hr />
            <br />
        </div>
    </div>
    

    <div id="accNumberRow" class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="panel panel-default panel-number">
                    <div class="panel-body">
                        <div>
                            <div class="number">

                                <img src="@Nftcrud.customIpfsUrl(item.image)" height="200px" alt="image" class="img-fluid img-thumbnail" /> <br> <a href="@(string.IsNullOrEmpty(item.secretLink)? Nftcrud.customIpfsUrl(item.image):Nftcrud.customIpfsUrl(item.secretLink))" target="_blank">Digital Content Link</a>
                            </div>
                        </div>
                        <div>
                            <p>Category: @item.category</p>
                            <p>Name: @item.name</p>
                            <p>Description: @item.description</p>
                            <p>Status: @item.status</p>
                        </div>
                        <div class="text-center">
                            @if (item.status== "Reviewing")
                            {
                                <a href="/home/NftStatus?status=Approved&id=@item.id" class="btn btn-success init-sell">
                                    Approve
                                </a>
                                <a href="/home/NftStatus?status=Declined&id=@item.id" class="btn btn-danger">
                                    Decline
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


    </div>
